<% if listing.errors.any? %>
    <div class="errors">
        <% listing.errors.full_messages.each do |error| %>
            <p><%= error %></p>
        <% end %>
    </div>
<% end %>

<div class="text-center">
  <div class="form-container">
    <%= form_with :model => listing, :local => true do |f| %>
        <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder:"Title", class:"form-control" %><br />
        </div>

        <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description, placeholder:"Description", class:"form-control" %><br />
        </div>

        <div class="field">
            <%= f.label :starting_price %>
            <%= f.number_field :starting_price, :min => 0, class:"form-control" %><br />
        </div>

        <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image, :accept => "image/png,image/gif,image/jpeg,image/jpg", :value => listing.image%><br />
        </div>

        <div class="field">
            <%= f.label :relist %>
            <%= f.check_box :relist, :value => listing.relist %><br />
        </div>
        <br>
        <div class="actions">
            <%= f.submit "Create", class: "btn btn-lg btn-primary btn-block" %>
        </div>
    <% end %>
  </div>
</div>