<div class="container-fluid">
    <div class="listing-holder" id="refresh-ended">
        <h1>Sold</h1>
        <div class="row row-min-small text-center flex-nowrap" id="ended-container">
            <% for listing in @listings %>
                <! –– listings that have sold will have an active id of 0 ––>
                <% if(listing.active == 0) %>
                    <div class="col-sm-4 card-sold">
                        <%= listing.title %>
                        <br>
                        $ <%= Money.new(listing.starting_price, 'AUD') %>
                        <br>
                        <%= (Time.now - listing.updated_at).to_i %>s
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="search" style="color: #FFF; display: flex; align-items: center; justify-content: space-between">
    <div>
        <span>Categories</span>
        <%= form_with model: @listing, local: true, html: { autocomplete: "off" } do |form| %>
            <%= form.select :categories, ['option1', 'option2'] %>
        <% end %>
    </div>
        <div>
            <%= form_with model: @listing, local: true, html: { autocomplete: "off" } do |form| %>
                <%= form.text_field :search, placeholder: "type your search query", class: "text-field-box" %>
                <%= form.submit "Search" %>
            <% end %> 
        </div>
    </div>
    <div class="listing-holder" id="refresh-ending">
        <h1>Ending</h1>
        <div class="row row-min-normal text-center flex-nowrap" id="ending-container">
            <% for listing in @listings %>
                <! –– listings that are ending soon will have an active id of 2 ––>
                <% if(listing.active == 2) %>
                    <div class="col-sm-4 card-ending">
                        <%= listing.title %>
                        <br>
                        $ <%= Money.new(listing.starting_price, 'AUD') %>
                        <br>
                        <%= (Time.now - listing.updated_at).to_i %>s
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="listing-holder" id="refresh-active">
        <h1>Active</h1>
        <div class="row row-min-normal", id="new-listings" id="active-container">
            <% for listing in @listings %>
                <! –– listings that are active will have an active id of 1 ––>
                <% if(listing.active == 1) %>
                    <div class="col-sm-4 card-active">
                        <%= listing.title %>
                        <br>
                        $ <%= Money.new(listing.starting_price, 'AUD') %>
                        <br>
                        <%= (Time.now - listing.updated_at).to_i %>s
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">9</a></li>

            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>