<div class="container">
    <div class="listing-holder" id="refresh-ended">
        <h1>Sold</h1>
        <div class="row row-min-small text-center flex-nowrap" id="ended-container">
            <% for listing in @listings %>
                <! –– listings that have sold will have an active id of 0 ––>
                <% if(listing.active == 0 && listing.sold) %>
                    <div class="col-sm-4 card-sold">
                        <%= listing.title %>
                        <br>
                        <%= image_tag listing.image if listing.image.attached? %>
                        <br>
                        Sold $<%= Money.new(listing.starting_price, 'AUD') %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="listing-holder" id="refresh-ending">
        <h1>Live Bids</h1>
        <div class="row row-min-normal text-center flex-nowrap" id="ending-container">
            <% for listing in @listings %>
                <% if(listing.bids.find_by_user_id(current_user) && (listing.active == 1 || listing.active == 2)) %>
                    <div class="col-sm-4 card-ending">
                        <div class="card-item">
                            <h2><%= listing.title %></h2>
                        </div>
                        <div class="card-item">
                            <p><%= listing.description %></p>
                        </div>
                        <div class="card-item">
                            <%= (Time.now - listing.fire_at).to_i %>s
                        </div>
                        <div class="card-item">
                            <%= image_tag listing.image if listing.image.attached? %>
                            <% if listing.bids.any? %>
                                <br>
                                Highest bidder: <%= User.find_by_id(listing.bids.order(amount: :desc).first.user_id).email.split("@")[0] %>
                            <% end %>
                        </div>
                        <div class="card-item">
                            $<%= Money.new(listing.starting_price, 'AUD') %>
                        </div>
                        <div class="card-item buttons">
                            <%= button_to "Bid", bid_listing_path(listing.id), :class => "btn btn-primary", :method => :patch %>
                            <%= button_to "View", listing_path(listing.id), :class => "btn btn-success", :method => :get %>
                            <%= button_to "Favourite", listing_favourite_path(listing.id), :class => "btn btn-warning", :method => :post %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="listing-holder" id="refresh-active">
        <h1>Active</h1>
        <div class="row row-min-normal", id="new-listings" id="active-container">
            <% for listing in @listings %>
                <! –– listings that are active will have an active id of 1 or 2 ––>
                <% if((listing.active == 1 || listing.active == 2) && !listing.bids.find_by_user_id(current_user)) %>
                    <div class="col-sm-4 card-active">
                        <div class="card-item">
                            <h2><%= listing.title %></h2>
                        </div>
                        <div class="card-item">
                            <p><%= listing.description %></p>
                        </div>
                        <div class="card-item">
                            <%= (Time.now - listing.fire_at).to_i %>s
                        </div>
                        <div class="card-item">
                            <%= image_tag listing.image if listing.image.attached? %>
                            <% if listing.bids.any? %>
                                <br>
                                Highest bidder: <%= User.find_by_id(listing.bids.order(amount: :desc).first.user_id).email.split("@")[0] %>
                            <% end %>
                        </div>
                        <div class="card-item">
                            $<%= Money.new(listing.starting_price, 'AUD') %>
                        </div>
                        <div class="card-item buttons">
                            <%= button_to "Bid", bid_listing_path(listing.id), :class => "btn btn-primary", :method => :patch %>
                            <%= button_to "View", listing_path(listing.id), :class => "btn btn-success", :method => :get %>
                            <%= button_to "Favourite", listing_favourite_path(listing.id), :class => "btn btn-warning", :method => :post %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>